html {
    background: black;
}


body {
    font-family: 'Times New Roman', Times, serif;
    background-color: grey;
    margin: 50px;
    color: #ffffff;
    padding: 50px;
    border-top: 10px solid red;
}

h1 {
    font-size: 3em;
    margin: 0;
    color: yellow
}

p {
    line-height: 1.4em;
    margin: 20px;
    width: 800px;
}

.section-heading {
    border-top: 2px dotted white;
    padding: 20px;
    background: black;
    
}

#regist{
    padding: 20px;
    border-top: 2px solid red;
}

form {
    line-height: 2em;
}

table {
    
    border: 1px solid red;
    text-align: center;
    
}

#table-tittle{
    color: greenyellow;
    font-size: 1.2em;
}


#table {
    background:yellow ;
    float: right;
    position: sticky;
    width: 120px;
    top: 0;
    margin-right: 10px;
}

article {
    background: #A9A9A9 ;
    padding: 20px;
    margin: 20px;
}

tr {
    display:flex    
    padding: 40px;
    margin: 40px;
}

#navier {
    float: left;
    width: 30px;
    height:30px;
    top:0;
}

div {
    display: flex;
}